PORT=

OMDB_KEY=

DATABASE_URL='postgresql://neondb_owner:npg_DXtxdJe6uZW8@ep-green-mouse-b5vejs6e-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=