.aside {
  width: 220px;
  min-width: 220px;

  min-height: calc(100vh - 75px);

  padding: 25px 18px;

  background: #ffffff;

  border-right: 2px solid #222;
}


/* Título */

.aside-title {
  font-size: 17px;
  font-weight: bold;

  letter-spacing: 1px;

  margin-bottom: 15px;
}


/* Linha */

.aside-line {
  width: 100%;
  height: 2px;

  background: #222;

  margin-bottom: 25px;
}


/* Grupos */

.category-grup,
.categoria-grupo {
  margin-bottom: 30px;
}

.category-grup h3,
.categoria-grupo h3 {
  font-size: 14px;

  text-transform: uppercase;

  letter-spacing: 1px;

  margin-bottom: 8px;
}


/* Lista */

.category-itens,
.categoria-itens {
  display: flex;
  flex-direction: column;
}


/* Botões MAIN CATEGORY */

.category-btn,
.categoria-btn {
  width: 100%;

  padding: 11px 5px;

  text-align: left;

  background: transparent;

  border: none;
  border-bottom: 1px solid #222;

  cursor: pointer;

  color: #222;

  font-size: 14px;

  transition: 0.2s;
}


/* Hover */

.category-btn:hover,
.categoria-btn:hover {
  padding-left: 10px;

  background: #f2f2f2;
}


/* Categoria selecionada */
/* Categoria selecionada */

.category-btn.selected,
.categoria-btn.selecionada {
  background: #222;

  color: white;

  font-weight: bold;

  padding-left: 10px;
}

/* Container do Trigger das Other Categories */
.category-select-trigger {
  width: 100%;
  padding: 9px 12px;
  font-size: 13px;
  color: #555;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
}

.category-select-trigger:hover {
  border-color: #222;
  background-color: #f2f2f2;
  color: #222;
}

.category-select-trigger.selecionada {
  border-color: #222;
  background-color: #eee;
  color: #000;
  font-weight: 600;
}

/* Seta animada */
.category-select-trigger .arrow {
  font-size: 10px;
  transition: transform 0.2s ease;
}

.category-select-trigger .arrow.open {
  transform: rotate(180deg);
}

/* Lista suspensa de opções */
.category-dropdown-list {
  margin-top: 6px;
  background: #ffffff;
  border: 1px solid #222;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Cada opção dentro do Dropdown */
.category-dropdown-item {
  width: 100%;
  padding: 8px 12px;
  text-align: left;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.15s ease;
}

.category-dropdown-item:last-child {
  border-bottom: none;
}

.category-dropdown-item:hover {
  background: #f4f4f4;
}

/* Quando o item está ativo na lista */
.category-dropdown-item.selected {
  background: #222;
  color: #fff;
  font-weight: bold;
}

.category-dropdown-item .check-icon {
  font-size: 11px;
}